<!DOCTYPE html>
<html lang="en">
<script src="lib/react.js" crossorigin></script>
<script src="lib/react-dom.js" crossorigin></script>
<script src="lib/babel.js"></script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demo react js</title>
</head>
<style>
    .textColor {
        color: red;
        font-size: 2rem;
    }
</style>

<body>
    <div id="root"> </div>
    <script src="trangthai.js" type="text/babel"></script>
</body>

</html>